<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Racing+Sans+One&display=swap" rel="stylesheet">
    <title>Profile</title>
</head>
<body>

<nav>
<ul class="nav-ct">
  <li><span class="racing-sans">Welcome, </span><span class="green funnel-sans"><%=user[0].userName%></span></li>
  <li><p>NotesPlus</p></li>
  <li><a class="logout" href="/logout">Logout</a></li>
</ul>
</nav>

<header>
  <h1>Your Notes</h1>
</header>

 

<div class="container">

  <!-- NOTES SECTION -->
  <div class="left">
    <div class="neu-section">
      <h2>Create Note</h2>
      <form action="/postNote" method="POST">
        <textarea id="noteText" name="noteText" placeholder="Write a note..."></textarea>
        <button type="submit">Add Note</button>
      </form>
    </div>

    <div class="neu-section scrollbox">
      <ul class="notes-list">
        <% if(notes.length === 0){ %>
          <p>No Notes Available</p>
        <% } else { %>
          <% notes.forEach(note => { %>
            <li class="notes-card">
                <p class="green">Created: <%= new Date(note.createdAt).toLocaleString() %></p>
                <p class=""><%= note.note %></p>
                <p class="green">Updated: <%= new Date(note.updatedAt).toLocaleString() %></p>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </div>
  </div>

  <!-- GEMINI SECTION -->
  <div class="right">
    <div class="neu-section">
      <h2>AI Assistant</h2>
      <form action="/postPrompt" method="POST">
        <input type="text" name="geminiPrompt" placeholder="Ask Gemini...">
        <button type="submit">Ask</button>
      </form>
    </div>

    <div class="neu-section scrollbox">
      <ul class="gemini-list">
        <% if(gemini.length === 0){ %>
          <p>No Entries</p>
        <% } else { %>
          <% gemini.forEach(g => { %>
            <li class="gemini-card">
              <p class="green"><%= g.prompt %>: </p>
              <p><%= g.result %></p>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </div>

  </div>
</div>

<!-- Floating Add Note Button -->
<a class="fab" href="#noteText">+</a>

</body>

</html>